<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <%- include('includes/side-drawer.ejs') %>
    <main>
      <h1>Page Not Found!</h1>
      <p>Oops, unfortunately we weren't able to find this page :(</p>
    </main>
  </body>
</html>
