<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <%- include('includes/side-drawer.ejs') %>
    <main>
      <h1>Something Went Wrong!</h1>
      <p>Something went wrong, we are trying to fix it.</p>
    </main>
  </body>
</html>
