<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <%- include('includes/side-drawer.ejs') %>
    <main>
      <h1>Title of restaurant <%= rid %></h1>
      <p>Cusine | Address</p>
      <p>description</p>
      <a href="/restaurants/r1">View website</a>
    </main>
  </body>
</html>
